.hanabi-history {
    max-height : 27%;
    overflow : scroll;
}

.state {
    margin : 0 10% 0 0;
}

.hinted-card-row {
    text-align : center;
    margin : auto;
}

.state-value {
    text-align : center;
    font-size : 24;
    margin : auto;
}

.card-hints {

}

.w3-rainbow {
    color:#ffffff!important;
    text-shadow: 2px 2px 0px #000000;;
    background: purple; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow, green, blue, purple); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow, green, blue, purple); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow, green, blue, purple); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow, green, blue, purple); /* Standard syntax */
}

form{ display: inline-block; }

.piles {
    text-align : center;
    margin: 10px 0 0 0;
}

.pile-value {
    margin : auto;
}

.pile {
    display : inline-block;
    text-align : center;
    width : 15%;
    font-size : 36;
    margin :2%;
    border : 1px solid;
}

.hanabi-card {
    display : inline-block;
    font-size : 28;
    padding : 0.8em 0.7em 0.8em 0.7em;
    margin : 0 0 3% 0;
}

.small-card {
    display : inline-block;
    font-size : 12;
    padding : 2px;
}


.hanabi-btn-group {
    display : table;
    margin : auto;
}

.hanabi-btn {
}

.player {
    margin : 0 2% 2% 2%;
}

.player-name {
    text-align : center;
}

.smallCard {
    display : inline;
    font-size : 12;
    text-align : center;
    border : 1px solid black;
    padding-top : 2px;
    padding-bottom : 2px;
    padding-left : 2px;
    padding-right : 2px;
}

.discard-pile {
    margin : 2%;
}
